:root {
  --primary: hsl(172, 67%, 45%);
  --dark: hsl(183, 100%, 15%);
  --font: hsl(186, 14%, 43%);
  --bg: hsl(185, 41%, 84%);
  --light: hsl(189, 41%, 97%);
  --input-font-size: 1.5rem;
  --radius-sm: 5px;
  --radius-md: calc(3 * var(--radius-sm));
  --radius-lg: calc(5 * var(--radius-sm));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--bg);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  margin-top: 3.125rem;
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
